#!/bin/bash

TITLES=(
	"Тестировщик"
	"QA Engineer"
	"QA Automation"
	"Automation QA"
	"QA Automation Engineer"
	"Automation QA Engineer"
	"Инженер по тестированию"
	"QA инженер"
	"Vue разработчик"
	"Vue.js разработчик"
	"Vue Frontend"
	"Vue.js Frontend"
	"Разработчик Vue"
	"Разработчик Vue.js"
	"Фронтенд разработчик Vue"
	"Фронтенд разработчик Vue.js"
	"Vue Developer"
	"Vue.js Developer"
	"Vue Frontend Developer"
	"Vue.js Frontend Developer"
	"Vue фронтенд разработчик"
	"Vue.js фронтенд разработчик"
	"React разработчик"
	"React Frontend"
	"Разработчик React"
	"Фронтенд разработчик React"
	"React Developer"
	"React фронтенд разработчик"
)
